/* = Selected Text
----------------------------------------------- */

/* --------------------------
全体の設定 */
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    font-size:40px;
}

.content {
    margin: 0px;
}
.title{
    text-align:center;
}

.columns {
    margin:2rem 1rem 2rem 1rem;
}
.column {
    margin-top:10px;
}
.buttons.button{
    text-align:center;
    margin-bottom:0rem
}
.buttons{
    margin-bottom:0rem
}
/* --------------------------
全体の設定 終了*/
/* --------------------------
HEADER */
.header{
    padding-top:40px;
    font-size:60px;
    text-align: center;
}

.header-btn{
    margin-left:90%;
}
/* --------------------------
HEADER 終了*/
/* -----------------------
確認事項上段 */
.position{
    padding-left:8%;
}

/* -----------------------
確認事項上段 終了*/

/* -----------------------
アラート */
.notification{
    text-align: center;
    font-weight:bold ;
}

/* -----------------------
アラート終了 */

/* -----------------------
商品詳細・在庫のテーブル*/
.around-box {
    text-align: center;
    margin-bottom:20px;
    width: 100%; /*幅の調節*/
    color: #666666; /*文字色*/
    border: 1px solid #ccc; /*線の太さ・色*/
    border-radius: 5px; /*角の丸み*/ 
}

.check4{
    margin-top:10px;
}
.check5{
    margin-top:0px;
}
.th{
    width:10%;
    height:60%;
    font-size:40px;
}
.item{
    width:70%;
    height:60%;
    font-size:40px;
}
.check7{
    margin-top:200px;
}
.set-size {
    height:50px;
    width:600px;
    font-size:40px;
}
.set-size-large{
    height:50px;
    width:300px;
    font-size:40px;
}
.table{
    margin-left:1rem;
    text-align: center;
    width:100%;
}
.item-detail{
    width:100%;
    font-size:40px;
}
.under-table{
    font-size:40px;
}
.table-summary {
    margin: 0% 0% 0% 15% ;
}
/* -----------------------
商品詳細・在庫の表 終了*/

/* -----------------------
メモ関係 */
.memos{
    display:flex;
}
.set-size-invoice{
    height:300px;
    width:90%;
    font-size:40px;
    margin-left:2rem;
}
input.radio{
    transform: scale(3);
}
input.approve{
    transform: scale(5);
}
.approve-box{
    margin:20px 20px 10px 60px;
}
.approve-msg{
    width:500px;
}

.show_old_order{
    margin-left:50%;
}
/* -----------------------
メモ関係 終了*/
